#navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
    margin: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
  }
  #navbar a{
    text-decoration: none;
    color: white;
  }

  .options {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .options h3 {
    padding-left: 30px;
    padding-right: 10px;
  }

  #data{
    display: grid;
    grid-template-columns: repeat(4,25%);
    text-align: center;
    padding: 5%;
  }
  div > p{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  img{
    height: 200px;
    
  }
 #searchdata a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: rgb(255, 102, 0);
  }
  #searchDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none !important;
  }
  #searchDiv #search{
    width: 30%;
    font-size: 30px;
    border: 2px solid black;
  }
  #searchDiv #sub{
    font-size: 30px;
    border: 2px solid black;
  }
  #get,#show{
    padding-left: 1%;
    font-size: 20px;
    margin: 2%;
  }

  #parent{
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }